.widget-section.box.teamLinkItem{
	*,
	.widget-section.box.teamMemberItem{
		.widget-section-header h3{
			font-style: normal!important;
		}
		.teamMemberRoles{
			font-size: 12px;
			font-weight: lighter;
		}
	}
}
